.poducts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 100%;
    margin: 0 auto;
    max-width: 90%;
    margin-top:2rem;
    margin-bottom: 1rem; 
    border: solid black; 
    padding: 15px;
  }
  .product1_1{
    border: black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .info{
    margin-top: 10px;
  }
  .images{
    width: 100%;
    height: 98%;
  }
  
  .product1_1 .pro1{
    width: 150px ;
    height: 200px;
    
  }
 
  .product1_1 .pro1 img:hover{
    cursor: pointer;

  }

  .poducts .product1_1 h4{
      font-size: 100%;
      margin: 10px 0;
  }
 
  .price{
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .info h4{
    color: black;
  }
  .price h4{
    color: black;
    width: 100%;
    text-align: center;
  }
  .price a button{
    width: 100%;
    text-align: center;
  }
 